* {
  box-sizing: border-box;

}

body {
  background-color: #A9A9A9;
}

.container {
  width: 800px;
  height: 800px;
  background-color: black;
  margin: 0 auto;
  text-align: center;

}

.column-main {
  display: inline-block;
  width: 360px;
  height: 100%;
  background-color: green;
}

.divider {
  display: inline-block;
  width: 60px;
  height: 100%;
  background-color: purple;
}

.column-opt {
  display: inline-block;
  width: 360px;
  height: 100%;
  background-color: pink;
}
