* {
  box-sizing: border-box;

}

body {
  background-color: #A9A9A9;
}

.container {
  width: 1200px;
  background-color: #A9A9A9;
  margin: 0 auto;
  text-align: center;

}

.timeline-item {
  width: 360px;
  background-color: white;
  min-height: 250px;

  border: solid 2px black;
}
